.navbar-brand{
    font-size: 56px;
    line-height: 62px;
    color: #fff;
    font-weight: 500;
}
.scrolled {
    background-color: blue; /* Change to the desired background color */
  }
.navbar-brand span{
    color: red;
}
.nav-link{
    font-size: 18px;
    color: #fff;
    line-height: 24px;
    font-weight: 300;
    padding:0px 0px !important; 
    position: relative;
    margin: 0px 20px;
    cursor: pointer;
  
}
.nav-link.active{
    color: #fff;
}
.nav-link::after{
    content: "";
    width: 0px;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left: 0;
    bottom:-6px;
    transition: all .5s;
}
.nav-link:hover::after{
    width: 100%;
}
.navbar-toggler-icon{
    background: url(../../assets/image/nav-icon.svg) no-repeat !important ;
    background-size: cover;
}
body{
    background: transparent;
}
.header_change nav{
    background: #000;
}
.nav-link:hover{
    color: #ff004f;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .navbar-brand{
      font-size: 30px;
      line-height: 38px;
      color: #fff;
      font-weight: 500;
    }
    .nav-link{
        margin: 15px 0px;
    }
    .nav-link::after {
        bottom: -10px;
    }
}