<footer class=" text-center text-lg-start">
  <video  playsinline loop muted autoplay preload="auto"  class="bg-image d-lg-block d-md-block d-none">
    <source src="../../assets/image/last-home.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <video  playsinline loop muted autoplay preload="auto"  class="bg-image d-lg-none d-md-none d-block">
    <source src="../../assets/image/last-home-mo.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</footer>