<section class="gallary-section">
    <div class="container">
        <h2><span style="color:red;">G</span>allery</h2>
        <div class="col">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 img-animate" data-aos="fade-up">
                    <img src="../../assets/image/gallery-1.jpeg" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 img-animate" data-aos="fade-up">
                    <img src="../../assets/image/gallary-2.jpeg" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 img-animate" data-aos="fade-up">
                    <img src="../../assets/image/gallary-3.png" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 img-animate" data-aos="fade-up">
                    <img src="../../assets/image/gallary-4.jpeg" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 img-animate" data-aos="fade-up">
                    <img src="../../assets/image/gallary-5.jpeg" class="img-fluid">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 img-animate" data-aos="fade-up">
                    <img src="../../assets/image/gallary-6.jpeg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>