<section class="about-component" id="about">
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 col-sm-12">
                    <div class="card card-left" data-aos="fade-right">
                        <img src="../../assets/image/user-removebg-preview.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-12 col-sm-12">
                    <div class="card" data-aos="fade-left">
                        <div class="about-content-compnonetn">
                            <h2><span [style]="{color:'red'}">A</span>bout <span [style]="{color:'red'}">M</span>e</h2>
                            <p>
                                Hello🤗, I am a Front End Developer at supporthives technology LLP. 
                                I have experience in building websites and web applications. I specialize 
                                in HTML, CSS, Javascript,github ,bootstrap 4, bootstrap 5 , Typescript, Dom, DHTML and jQuery  
                                and I also have experience in fron end  Development.
                            </p>
                            <p>
                                Offering 3 years of progressive experience in owning web-based projects from concept and design through testing,
                                implementation, and client updates. Diligent about producing exceptionally clean, strong, and secure code. Successful at achieving
                                browser, device, and operating system compatibility objectives while satisfying client desires and producing robust, sophisticated
                                designs.
                            </p>

                            <div class="skill-tabs">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">{{skillTitle}}</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">{{eduTitle}}</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">{{experianceTitle}}</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-lang-tab" data-bs-toggle="pill" data-bs-target="#pills-lang" type="button" role="tab" aria-controls="pills-lang" aria-selected="false">{{langauagesTitle}}</button>
                                      </li>
                                  </ul>
                                  <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                        <div class="skills-content">
                                            <h5>Ms Office</h5>
                                            <p>Ms Word, Ms Excel and Power Point</p>
                                            <h5>CMS</h5>
                                            <p>Wordpress, Blogger</p>
                                            <h5>Apps & Web Application</h5>
                                            <p>C , HTML, HTML5, CSS3, Boostrap 4 & Boostrap 5, github,ES6 , Jquery, Dom, Javascript, Typescript Angular 8 & Angular 17, Technical Skills, UI Updates Responsive Web Design</p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                        <div class="education-main">
                                            <div class="education-main-sub">
                                                <h5>MCA | Computer Application</h5>
                                                <div class="education-main-details">
                                                    <strong>Dr. A.P.J. Abdul Kalam Technical University UP, India</strong>
                                                    <div>
                                                        <h6>IIMT College Of Engineering Greater Noida</h6>
                                                        <h6>2016-2019 (Regular)</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="education-main-sub">
                                                <h5>B.Sc | (Computer)</h5>
                                                <div class="education-main-details">
                                                    <strong>V.B.S Purvanchal University, Jaunpur, UP, India</strong>
                                                    <div>
                                                        <h6>SGRPG College Jaunpur UP</h6>
                                                        <h6>2013-2016 (Regular)</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                        <div class="exparicance-content">
                                            <div class="exparicance-box-main">
                                                <h5>Front End Developer & UI Developer</h5>
                                                <div class="exparicance-box">
                                                    <h6>Support Hives LLP Mumbai Malad</h6>
                                                    <h6> 22-Nov-2020 - Present</h6>
                                                </div>
                                                <p>
                                                    Designing user interfaces: A UI developer is responsible for creating user interfaces that are visually appealing, easy to use, andintuitive.
                                                </p>
                                                <p>
                                                    I am a Front End Developer and A UI developer at supporthives technology LLP. 
                                                    I have experience in building websites and web applications. I specialize 
                                                    in HTML, CSS, Javascript,github ,bootstrap 4, bootstrap 5 , Typescript, 
                                                    Dom, DHTML and jQuery  
                                                    and I also have experience in fron end  Development.
                                                </p>
                                            </div>
                                            <div class="exparicance-box-main">
                                                <h5>SEO Executive</h5>
                                                <div class="exparicance-box">
                                                    <h6>Amagems Greater Noida</h6>
                                                    <h6>1-Jan-2019 - 20-May-2019</h6>
                                                </div>
                                                <p>
                                                    Evaluated the effectiveness of current SEO efforts through analytical reporting tools such as Google Analytics and Webmaster Tools
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pills-lang" role="tabpanel" aria-labelledby="pills-lang-tab">
                                        <div class="lang-box">
                                            <div><h5>Language:</h5><p>Hindi, English</p></div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="parallex-section">
    <div class="container card-count-main">
        <div class="col">
            <div class="row">
                <div class="col-12 col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <p><i class="fa fa-check" aria-hidden="true"></i></p>
                        <h2>{{projectCount}} + </h2>
                        <h5>Project Complete</h5>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <p><i class="fa fa-flag" aria-hidden="true"></i></p>
                        <h2>{{projectCountries}}</h2>
                        <h5> Total Countries </h5>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <p><i class="fa fa-globe" aria-hidden="true"></i></p>
                        <h2>{{projectWorldwide}}</h2>
                        <h5>Users Worldwide </h5>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-md-6 col-sm-12">
                    <div class="card">
                        <p><i class="fa fa-gift" aria-hidden="true"></i></p>
                        <h2>{{AwardWinners}}</h2>
                        <h5>Award Winners </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>