<section class="my-work-component" id="mywork">
    <video  playsinline loop muted autoplay preload="auto"  class="bg-image">
        <source src="../../assets/image/production.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    <div class="container">
        <h2 data-aos="fade-up"><span style="color:red;">My</span> Work</h2>
        <div class="col">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-ms-12 col-12 ">
                    <div class="card" data-aos="fade-up">
                        <div class="my-work-card">
                            <img src="../../assets/image/html-img.jpeg" alt="" class="img-fluid">
                            <div class="card-details">
                                <h3>{{htmlTitle}}</h3>
                                <p>{{htmlDesc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-ms-12 col-12 ">
                    <div class="card" data-aos="fade-up">
                        <div class="my-work-card">
                            <img src="../../assets/image/css-img.png" alt="" class="img-fluid">
                            <div class="card-details">
                                <h3>{{cssTitle}}</h3>
                                <p>{{cssDesc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-ms-12 col-12 ">
                    <div class="card" data-aos="fade-up">
                        <div class="my-work-card">
                            <img src="../../assets/image/bootstrap-image.jpeg" alt="" class="img-fluid">
                            <div class="card-details">
                                <h3>{{bootTitle}}</h3>
                                <p>{{bootDesc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-ms-12 col-12 ">
                    <div class="card" data-aos="fade-up">
                        <div class="my-work-card">
                            <img src="../../assets/image/ui-image.jpeg" alt="" class="img-fluid">
                            <div class="card-details">
                                <h3>{{uiTitle}}</h3>
                                <p>{{uiDesc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-ms-12 col-12 ">
                    
                </div>
                <div class="col-lg-3 col-md-6 col-ms-12 col-12 ">
                    <div class="card" data-aos="fade-up">
                        <div class="my-work-card">
                            <img src="../../assets/image/fron-end-image.jpeg" alt="" class="img-fluid">
                            <div class="card-details">
                                <h3>{{fronTitle}}</h3>
                                <p>{{frontDESC}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-ms-12 col-12 ">
                    <div class="card" data-aos="fade-up">
                        <div class="my-work-card">
                            <img src="../../assets/image/angular-image.jpeg" alt="" class="img-fluid">
                            <div class="card-details">
                                <h3>{{agTitle}}</h3>
                                <p>{{angDesc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-ms-12 col-12 ">
                    
                </div>
            </div>
        </div>
    </div>
</section>
