<section class="my-project-component" id="project">
    <div class="container">
        <h2 data-aos="fade-up"><span style="color:red">My</span> {{ProjectTitle}}</h2>
        <p >
          I have completed 70+ project work in which main used technology HTML, CSS, Bootstrap, jQuery, JavaScript and Angular I have provided list and URL
        </p>
        <table class="projectTableData table table-borderless table-dark table-striped" data-aos="fade-up">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">{{projectName}}</th>
                <th scope="col">{{projectResponsivebility}}</th>
                <th scope="col">{{completeDay}}</th>
                <th scope="col">{{teamself}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">1</td>
                <td><a href="https://orosanalimited.com/" target="_blank">Orosana</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">2</td>
                <td><a href="https://speciality.co.in/" target="_blank">Speciality</a></td>
                <td><p>Lead</p></td>
                <td><p>30</p></td>
                <td><p>Team</p></td>
              </tr>
              <tr>
                <td scope="row">3</td>
                <td><a href="https://mainlandchina.in/" target="_blank">mainlandchina</a></td>
                <td><p>Lead</p></td>
                <td><p>15</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">4</td>
                <td><a href="https://orosanalimited.com/" target="_blank">Asia Kitchen</a></td>
                <td><p>Lead</p></td>
                <td><p>20</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">5</td>
                <td><a href="https://jiggle.app" target="_blank">jiggle</a></td>
                <td><p>Lead</p></td>
                <td><p>10</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">6</td>
                <td><a href="https://waltzer.io/" target="_blank">waltzer</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">7</td>
                <td><a href="https://monolo.io/" target="_blank">monolo</a></td>
                <td><p>Lead</p></td>
                <td><p>7</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">8</td>
                <td><a href="https://haraka.online/" target="_blank">haraka </a></td>
                <td><p>Lead</p></td>
                <td><p>10</p></td>
                <td><p>Team</p></td>
              </tr>
              <tr>
                <td scope="row">9</td>
                <td><a href="https://easygoldgetter.com/" target="_blank">easy gold getter</a></td>
                <td><p>Lead</p></td>
                <td><p>12</p></td>
                <td><p>Team</p></td>
              </tr>
              <tr>
                <td scope="row">10</td>
                <td><a href="https://evolutionwebdesigners.com/" target="_blank">evolution webdesigners</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">11</td>
                <td><a href="https://onlinecodingcrew.com/" target="_blank">online coding crew</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">12</td>
                <td><a href="https://contentataclick.com/" target="_blank">content ata click</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Team</p></td>
              </tr>
              <tr>
                <td scope="row">13</td>
                <td><a href="https://knowhowtodesign.com/" target="_blank">know how to design</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">14</td>
                <td><a href="https://bodyandmindcareguides.com/" target="_blank">body and mind care guides</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">15</td>
                <td><a href="https://paydial.ae/" target="_blank">pay dial</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">16</td>
                <td><a href="https://sitedevelophub.com/" target="_blank">site develop hub</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">17</td>
                <td><a href="https://everjadeconstruction.co.uk/" target="_blank">everjade construction</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">18</td>
                <td><a href="https://eguas.consulting" target="_blank">eguas consulting</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">19</td>
                <td><a href="https://zenoden.com/" target="_blank">zenoden</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">20</td>
                <td><a href="https://relationshipresourcehub.com/" target="_blank">relationship resource hub</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">21</td>
                <td><a href="https://repiblikpro.com/" target="_blank">repiblikpro</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">22</td>
                <td><a href="https://novanewsolutions.com/" target="_blank">novanew solutions</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">23</td>
                <td><a href="https://letsgetmmo.com/" target="_blank">letsgetmmo</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">24</td>
                <td><a href="https://monifex.co/" target="_blank">monifex</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Self</p></td>
              </tr>
              <tr>
                <td scope="row">25</td>
                <td><a href="https://orbitan.co/" target="_blank">orbitan</a></td>
                <td><p>Lead</p></td>
                <td><p>8</p></td>
                <td><p>Self</p></td>
              </tr>
            </tbody>
          </table>
          <a href="#" class="btn btn-more">More Project</a>
    </div>
</section>
